<%= form_for @quiz do |f| %>

  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <p>
  <%= f.fields_for :questions do |question| %>
    <%= f.label :name, "Question" %><br>
    <%= question.text_area :name, :rows => 3 %><br>
    <%= question.check_box :_destroy %>
    <%= f.label :_destroy, "Remove Question" %>
    <%= question.fields_for :answers do |answer| %><br>
      <%= f.label :name, "Answer" %><br>
      <%= answer.text_field :name %><br>
        <%= answer.check_box :_destroy %>
        <%= f.label :_destroy, "Remove Answer" %><br>
    <% end %>
  <% end %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
