<div class="bg-light p-5 rounded-lg m-3 w-50  mx-auto">
  <h1 class="display-4"><%= @quiz.name %></h1>
  <p class="lead">
    <% for question in @quiz.questions %>
      <%= question.name %>
  </p>
    <hr class="my-4">
    <p>
        <% unless restricted_permission? %>
          <% for answer in question.answers %>
          <li><%= answer.name %></li>
          <% end %><br>
        <% end %>
    <% end %>
  </p>
    <br>
  <%= link_to 'Back', quizzes_path, class: "btn btn-light"  %>

  <% if edit_permission? %>
    <%= link_to 'Edit', edit_quiz_path(@quiz), class: "btn btn-primary" %>
  <% end %>
</div>