<div class="card text-center">
  <div class="card-header">
    <h2><%= Settings.brand_name %></h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">Sign up</h5>
    <p class="card-text">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field form-group col-sm-4 col offset-4">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control', placeholder: "Email", autofocus: true, autocomplete: "email" %><br>
      </div>

      <div class="field form-group col-sm-4 offset-4">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: "Proco password" %>
      </div>

      <div class="field form-group col-sm-4 offset-4">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: "Proco password" %>
      </div><br>

      <div class="field form-group form-check">
        <%= f.radio_button :user_type, "restricted_permission" %>
        <%= f.label :user_type, "Restricted permission" %>
        <%= f.radio_button :user_type, "view_permission" %>
        <%= f.label :user_type, "View permission" %>
        <%= f.radio_button :user_type, "edit_permission" %>
        <%= f.label :user_type, "Edit permission" %>
      </div><br>


      <% if devise_mapping.rememberable? %>
        <div class="field form-group">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <br>

      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-success btn-lg' %>
      </div>
    <% end %>
    <br>
  </div>
  <div class="card-footer text-muted">
    <%= render "devise/shared/links" %>
  </div>
</div>